html {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

body {
  font-size: 13px;
  line-height: 20px;
  background: url('../images/mls1.jpg') center no-repeat,
  background-color: #8FA0AD;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100vh;
}